<div id="form "class="formHtml">
  <h1>Enter players</h1>
  <label class="col-12 margin">
    <h6>Enter player 1</h6>
  </label>
  <input type="text" id="name-input1" value="" class="col-sm-6 col-md-5 col-6 add-player" placeholder="Name should be between 2-10 characters" maxlength="50">


  <label>
    <h6>Typ:</h6>
  </label>
  <select id="typ-1">
    <option value="human" class=" ">Human</option>
    <option value="bot" class="">Bot</option>
  </select>
  <div class="invalid" id="invalid-input1">You must enter a name between 2-10 characters or the name is already used</div>



  <label class="col-12 margin">
    <h6>Enter player 2</h6>
  </label>
  <input type="text" id="name-input2" value="" class="col-sm-6 col-md-5 col-6 add-player" placeholder="Name should be between 2-10 characters" maxlength="50">
  <label class>
    <h6>Typ:</h6>
  </label>
  <select id="typ-2">
    <option value="human" class="">Human</option>
    <option value="bot" class="">Bot</option>
  </select>
  <div class="invalid" id="invalid-input2">You must enter a name between 2-10 characters or the name is already used.</div>
  <p><button id="start-button" type="button" class="btn btn-success start col-sm-3 col-md-2 col-4">Start</button></p>
</div>