<div class="formHtml"> 
  <button type="button" class="btn btn-danger btn-cancel col-4 margin">Cancel</button>

  <div class="form"></div>
    <label class="col-12 margin">
      <h6>Enter player 1</h6>
    </label>
    <input type="text" id="name-input1" value="" class="col-4 add-player" placeholder="Name" maxlength="50">
    

    <label class="hej">
      <h6>Typ:</h6>
    </label>
    <select id="typ">
      <option value="human" class=" ">Human</option>
      <option value="dum" class="">Bot</option>
    </select>
    <div class="invalid" id="invalid-input1">You must enter a name between 2-10 characters or the name is already used</div>



    <label class="col-12 margin">
      <h6>Enter player 2</h6>
    </label>
    <input type="text" id="name-input2" value="" class="col-4 add-player" placeholder="Name" maxlength="50">
    <label class="">
      <h6>Typ:</h6>
    </label>
    <select id="typ">
      <option value="human" class="">Human</option>
      <option value="dum" class="">Bot</option>
    </select>
        <div class="invalid" id="invalid-input2">You must enter a name between 2-10 characters or the name is already used.</div>

  <button id="start-button" type="button" class="btn btn-success start col-2">Start</button>
  </div>
