<section style="background-color: rgb(180, 180, 180)(69, 243, 69, 0.61)"></body>
    <section style="background-color: rgb(180, 180, 180) !important" class="jumbotron">
        <h1 class="overskrift">Want to play? Learn the rules!</h1><br>
        <h3 class="color">Pick a color</h3>
        <p class="paragraff">
            The very first thing you have to do, is to pick a color! Do you want to be red or yellow?
        </p>
        <h3 class="color">The Rules Are Simple</h3>
        <p class="paragraff"> To win Connect Four, all
            you have to do is connect four of your colored checker pieces in a row, much the same as tic tac toe. This
            can be done horizontally, vertically or diagonally. Each player will drop in one checker piece at a time.
            This will give you a chance to either build your row, or stop your opponent from getting four in a row.</p>
        <h3 class="color">End of the game</h3>
        <p class="paragraff">The game is over either when you or your friend reaches four in a row, or when all forty
            two slots are
            filled, ending in a stalemate.</p>
        <a href="http://howdoyouplayit.com/connect-4-board-game-rules-play/" target="_blank">Source</a>
    </section>

</section>