<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css">
    <link rel="stylesheet" type="text/css" media="screen" href="startpageStyle.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Electrolize" rel="stylesheet">
    <title>4-i-rad</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">My App</a>
    <a class="navbar-brand" href="/"><img class="navbar-toggler-icon" src="https://lh4.ggpht.com/2zAuGCAmdqk88tmvPTMCp-JBLhhf8hbnhXX8lrbiQX-qQAZR24b7KsMPhgADXKgFV_KU">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<section style="background-color: rgba(69, 243, 69, 0.61)"></body>
    <section style="background-color: rgba(69, 243, 69, 0.61) !important" class="jumbotron">
        <h1 class="overskrift">Want to play? Learn the rules!</h1>
        <h2 class="color">Pick a color</h2>
        <p class="paragraff">
            The very first thing you have to do, is to pick a color! Do you want to be red or yellow?
        </p>
        <h2 class="color">The Rules Are Simple</h2>
        <p class="paragraff"> To win Connect Four, all
            you have to do is connect four of your colored checker pieces in a row, much the same as tic tac toe. This
            can be done horizontally, vertically or diagonally. Each player will drop in one checker piece at a time.
            This will give you a chance to either build your row, or stop your opponent from getting four in a row.</p>
        <br>
        <h2 class="color">End of the game</h2>
        <p class="paragraff">The game is over either when you or your friend reaches four in a row, or when all forty
            two slots are
            filled, ending in a stalemate.</p>
        <a href="http://howdoyouplayit.com/connect-4-board-game-rules-play/" target="_blank">Source</a>
    </section>
    <script src="main.js"></script>
</section>

</html>