<section>
    <section style="background-color: rgba(197, 197, 197, 0.0) !important" class="jumbotron">
        <h1 class="overskrift">Welcome!</h1>
        <p class="paragraf">On this page you can play the popular game four in a row online and for free!
            No need to sign up, so go ahead and play the game!
        </p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/gameForm" role="button">Play the game</a>
        <br><br>
        <p class="paragraf">Good luck, and have fun!
        </p>
    </section>
    <section style="background-color: rgba(197, 197, 197, 0.0) !important">
        <div class="text">Other games for you</div>
        <br>
        <div class="roww">
            <div class="column">
                <p class="paragraff">Pacman</p>
                <a href="https://www.y8.com/games/pacman_advanced" target="_blank"><img src="https://c.tribune.com.pk/2015/04/862339-pacmanmainimage-1427879903-432-640x480.jpg"
                        alt="Pacman" style="width:60%"></a>
            </div>
            <div class="column">
                <p class="paragraff">Stunt cars 2</p>
                <a href="https://www.crazygames.com/game/madalin-stunt-cars-2" target="_blank"><img src="https://assets.orangegames.com/games/assets/promos/5/113265/93865/400x260-417626.jpg?r=1530267619025"
                        alt="Stunt-cars" style="width:60%"></a>
            </div>
            <div class="column">
                <p class="paragraff playing">Playing with fire</p>
                <a href="https://www.gratisspil.dk/game/info.php?id=2120" target="_blank"><img src="https://img-cf.y8.com/cloud/y8-thumbs/103/big.gif"
                        alt="Playing-with-fire-2" style="width:60%"></a>
            </div>
        </div>
    </section>
</section>