<section style="background-color: rgba(69, 243, 69, 0.61)">
    <section class="container">
        <section style="background-color: rgba(69, 243, 69, 0.61) !important" class="jumbotron">
            <h1 class="overskrift">Welcome!</h1>
            <p class="paragraf">On this page you can play the popular game four in a row online and for free!
                No need to sign up, so go ahead and play the game!
            </p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="FormPage.html" role="button">Play the game</a>
            <br><br>
            <p class="paragraf">Good luck, and have fun!
            </p>
        </section>
        <div style="background-color: rgba(69, 243, 69, 0.61) !important" class="jumbotron">
            <img class="fourInARow" src="https://lh4.ggpht.com/2zAuGCAmdqk88tmvPTMCp-JBLhhf8hbnhXX8lrbiQX-qQAZR24b7KsMPhgADXKgFV_KU"
                alt="four-in-a-row">
        </div>
    </section>
    <div class="text">Other games for you</div>
    <br>
    <div class="roww">
        <div class="column">
            <p class="paragraf">Pacman</p>
            <a href="https://www.y8.com/games/pacman_advanced" target="_blank"><img src="https://c.tribune.com.pk/2015/04/862339-pacmanmainimage-1427879903-432-640x480.jpg"
                    alt="Pacman" style="width:60%"></a>
        </div>
        <div class="column">
            <p class="paragraf">Stunt cars 2</p>
            <a href="https://www.crazygames.com/game/madalin-stunt-cars-2" target="_blank"><img src="https://assets.orangegames.com/games/assets/promos/5/113265/93865/400x260-417626.jpg?r=1530267619025"
                    alt="Stunt-cars" style="width:60%"></a>
        </div>
        <div class="column">
            <p class="paragraf">Playing with fire 2</p>
            <a href="https://www.gratisspil.dk/game/info.php?id=2120" target="_blank"><img src="https://img-cf.y8.com/cloud/y8-thumbs/103/big.gif"
                    alt="Playing-with-fire-2" style="width:60%"></a>
        </div>
    </div>
    <script src="main.js"></script>
</section>
