body > div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}
.roww {
  display: flex;
  margin-left: 11vw;  
}

.column {
  flex: 33.33%;
  padding: 5px;
}
.container{
    display: flex; 
}
.fourInARow{
  width: 80%;
  height: 55vh;
  margin-right: 15vw;
}
.jumbotron{
    background-color: rgba(69, 243, 69, 0.61); 
}
body{
    background-color: rgba(69, 243, 69, 0.61);
}
.overskrift{
    font-weight: bold;
    font-size: 6vh;  
    font-family: 'Electrolize', sans-serif;
}
.paragraf{
    font-weight: 800; 
    font-size: 3vh; 
    font-family: 'Electrolize', sans-serif;
}
.paragraff{
  font-weight: 500; 
  font-size: 3vh; 
  font-family: 'Electrolize', sans-serif;
}
.btn-primary{
  font-family: 'Electrolize', sans-serif;
  background-color: darkgreen; 
}
.text{
    margin-left: 10vw; 
    font-family: 'Electrolize', sans-serif;
    font-weight: 900; 
    font-size: 5vh; 
}
.color{
  font-family: 'Electrolize', sans-serif;
  font-weight: 900; 
  font-size: 3vh; 
}

.margin{
  margin-top: 5vh;
  padding-left: 0;
}

.start{
  margin-left: 30vw;
  margin-top: 10vh;
}

.invalid {
  color: #A00;
  font-size: 11px;
  display: none;
}