body > div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}
.roww {
  display: flex;
  margin-left: 11vw;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
.container {
  display: flex;
}
.fourInARow {
  width: 80%;
  height: 55vh;
  margin-right: 15vw;
}
.jumbotron {
  background-color: rgba(69, 243, 69, 0.61);
}
body {
  background-color: rgba(69, 243, 69, 0.61);
}
.overskrift {
  font-weight: bold;
  font-size: 6vh;
  font-family: 'Electrolize', sans-serif;
}
.paragraf {
  font-weight: 800;
  font-size: 3vh;
  font-family: 'Electrolize', sans-serif;
}
.paragraff{
  font-weight: 700; 
  font-size: 3vh; 
  font-family: 'Electrolize', sans-serif;
}
.btn-primary {
  font-family: 'Electrolize', sans-serif;
  background-color: darkgreen;
}
.text {
  margin-left: 10vw;
  font-family: 'Electrolize', sans-serif;
  font-weight: 900;
  font-size: 5vh;
}
.color {
  font-family: 'Electrolize', sans-serif;
  font-weight: 900;
  font-size: 3vh;
}

.margin {
  margin-top: 5vh;
  padding-left: 0;
}

.start {
  margin-left: 30vw;
  margin-top: 10vh;
}

.invalid {
  color: #a00;
  font-size: 11px;
  display: none;
}

.table {
  background-color: black;
  color: rgb(0, 146, 0);
}

/* --- GamePage --- */

#gamepage {
  /* flex: 1; */
  background-color: rgba(30, 100, 240, 1);
  display: inline-block;
  border: 1vw solid rgba(30, 100, 240, 1);
  border-radius: 5%;
  box-shadow: 7px 7px 40px grey;
  /* position: relative; */
}

.col {
  width: 160px;
  min-height: 75px;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin: 4px;
  box-shadow: inset 45px 45px 25px -40px rgba(0, 0, 0, 0.18);
  position: relative;
}

.nextred {
  background-color: rgb(255, 170, 170);
}

.nextyellow {
  background-color: rgb(255, 255, 170);
}

.col.red {
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 0, 0),
    rgb(255, 160, 0),
    red
  );
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.col.yellow {
  background-image: linear-gradient(
    to bottom right,
    orange,
    rgb(255, 255, 140),
    orange
  );

  /* box-shadow: inset 45px 45px 25px -40px rgba(0, 0, 0, 0.18); */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.col.empty {
  cursor: pointer;
}

/* --- end --- */

@media (max-width: 720px) {
  #secondjumbo{
    display: none; 
  }
  .paragraff{
    font-size: 2vh; 
    font-family: 'Electrolize', sans-serif;
    font-weight: 700; 
  }
  .text{
    font-size: 3vh; 
    font-family: 'Electrolize', sans-serif;
    font-weight: 700
  }
  .overskrift{
    font-size: 4vh; 
    font-family: 'Electrolize', sans-serif;
    font-weight: 700
  }
  .paragraf{
    font-size: 3vh; 
    font-family: 'Electrolize', sans-serif;
    font-weight: 700; 
  }
  }