body > div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#rules{
  font-family: 'Electrolize', sans-serif;
  font-weight: bold; 
  text-align: center; 
  color: white; 
  font-size: 3em; 
  text-shadow: 3px 2px black;
  padding-bottom: 10px;
}
a{
  color: black; 
  font-family: 'Electrolize', sans-serif;
  font-weight: 500; 
  
}
.formHtml{
  background-color: rgba(197, 196, 196, 0); 
  margin-left: 0vw; 
  display:block
}
h1{
  font-family: 'Electrolize', sans-serif;
  font-weight: 800; 
  text-align: center; 
  color: white; 
  font-size: 3em; 
  text-shadow: 3px 2px black;
}
h2{
  font-family: 'Electrolize', sans-serif;
  font-weight: bold; 
  text-align: center; 
  color: white; 
  font-size: 3em; 
  text-shadow: 3px 2px black;
  padding-bottom: 2%;
}

main {
  flex: 1;
}
.roww {
  display: flex;
  margin-left: 11vw;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
.fourInARow {
  width: 80%;
  height: 55vh;
  margin-right: 15vw;
}
body {
  background-image: url("http://ceilfire.s3-eu-west-1.amazonaws.com/upload_a617670012d85c15e90c32cf4907a5ad");
  background-size: cover; 
}
.overskrift {
  font-weight: bold;
  font-size: 3em;
  font-family: 'Electrolize', sans-serif;
}
.paragraf {
  font-weight: 800;
  font-size: 3vh;
  font-family: 'Electrolize', sans-serif;
}
.paragraff{
  font-weight: 700; 
  font-size: 3vh; 
  font-family: 'Electrolize', sans-serif;
  margin-bottom: 1vh;
  text-align: center;
}
.btn-primary {
  font-family: 'Electrolize', sans-serif;
  background-color: rgba(0, 39, 148, 0.678);
}
div .text {
  margin-left: 10vw;
  margin-top: 20vh;
  font-family: 'Electrolize', sans-serif;
  font-weight: 900;
  font-size: 5vh;
}
.color {
  font-family: 'Electrolize', sans-serif;
  font-weight: 900;
  font-size: 4vh;
}

.margin {
  margin-top: 5vh;
  padding-left: 0;
}

.start {
  margin-top: 10vh;
}

.invalid {
  color: #a00;
  font-size: 11px;
  display: none;
}

.table {
  background-color: black;
  color: rgb(0, 146, 0);
}

/* --- GamePage --- */


body > div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}


.board {
  border: 2vh solid rgba(30, 100, 240, 1);
  border-radius: 5%;
  box-shadow: 10px 7px 15px grey;
  
}


.coll {
 width: 14.28%;
}

.coll > div {
  padding-top: 100%;
  position:relative;
  background-color: rgba(30, 100, 240, 1);
  
}

.coll > div > div {
  position:absolute;
  top:10%;
  left:10%;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
  box-shadow: inset 45px 45px 10px -50px rgba(0, 0, 0, 0.18);
}

.nextred {
  background-color: rgb(255, 170, 170);
}

.nextyellow {
  background-color: rgb(255, 255, 170);
}

.coll.red {
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 0, 0),
    rgb(255, 136, 0),
    red
  );
  box-shadow: inset 4px 4px 1px rgba(0, 0, 0, 0.18);
}

.coll.yellow {
  background-image: linear-gradient(
    to bottom right,
    orange,
    rgb(255, 255, 140),
    orange
    
  );
box-shadow: inset 4px 4px 1px rgba(0, 0, 0, 0.18);
}

.coll.empty {
  cursor: pointer;
}

#players2{
  background-color: whitesmoke;
  padding: 0vh 1vw;
  border: 1px solid lightgray;
  border-radius: 10px 10px;
  flex:1;
  width: 20vw;
  text-align: center;
  color: rgb(226, 226, 8);
  font-size: 3vw;
}
#players{
  background-color: whitesmoke;
  padding: 0vh 1vw;
  border: 1px solid lightgray;
  border-radius: 10px 10px;
  flex:1;
  width: 20vw;

  text-align: center;
  color: rgb(211, 8, 8);
  font-size: 3vw;
}
#turn{
  font-size: 4vw;
  flex:3;
  text-align: center;
  color:whitesmoke;
  text-shadow: 2px 1px rgb(0, 92, 0);
}

.name, #drag2, #drag{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2vh;
}

#modal-body{
  padding:16px;
}
.activePlayer{
  border: 2px solid black !important;
}

.jumbotronContainer{
  display:flex;
}

.jumbotron{
  padding: 5px;
}
.img-fluid{
  float: right; 
}

.flex-d{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* --- end --- */

@media (max-width: 667px) {
  #secondjumbo{
    display: none; 
  }

  .flex-d{
    display: flex;
    flex-direction: column;
  }

  .players{
    margin-right: 17vw;
    margin-top: 80vh;
  }

  .paragraff{
    font-size: 5vw; 
    font-family: 'Electrolize', sans-serif;
    margin-bottom: 1vh;
    text-align: center;
  }
  .text{
    font-size: 3vh; 
    font-family: 'Electrolize', sans-serif;
    font-weight: 700;
    margin: 0;
    

  }
  .overskrift{
    font-size: 3em; 
    font-family: 'Electrolize', sans-serif;
    font-weight: 700;
  }
  .paragraf{
    font-size: 3vh; 
    font-family: 'Electrolize', sans-serif;
    font-weight: 700; 
  }

}